@using System.Text.Json
@using System.Threading
@using Microsoft.JSInterop
@using Soenneker.Blazor.Chatwoot.Abstract
@using Soenneker.Blazor.Chatwoot.Configuration
@using Soenneker.Blazor.Chatwoot.Dtos
@using Soenneker.Blazor.Extensions.EventCallback
@using Soenneker.Quark
@using Soenneker.Extensions.CancellationTokens
@using Soenneker.Utils.Json
@using Soenneker.Extensions.String

@inject IChatwootInterop ChatwootInterop

@inherits CoreCancellableComponent
@implements IChatwoot

<div id="@Id" @attributes="Attributes" ></div>

@code {
    
    private DotNetObjectReference<Chatwoot>? _dotNetReference;

    public override string? Id { get; set; } = $"chatwoot-{Guid.NewGuid()}";

    private bool _initialized;
    private bool _isCreated;

    [Parameter]
    public EventCallback OnReady { get; set; }

    [Parameter]
    public EventCallback OnOpen { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    [Parameter]
    public EventCallback<ChatwootMessage> OnMessage { get; set; }

    [Parameter]
    public EventCallback<JsonElement> OnError { get; set; }

    [Parameter]
    public ChatwootConfiguration Configuration { get; set; } = new();

    protected override void OnInitialized() => _dotNetReference = DotNetObjectReference.Create(this);

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_isCreated)
        {
            await Create(CancellationToken);
        }
    }

    private async ValueTask Create(CancellationToken cancellationToken)
    {
        if (_initialized)
            return;

        if (Configuration.WebsiteToken.IsNullOrWhiteSpace())
            throw new Exception("ChatwootConfiguration WebsiteToken is required.");

        if (Configuration.BaseUrl.IsNullOrWhiteSpace())
            throw new Exception("ChatwootConfiguration BaseUrl is required.");

        _initialized = true;

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await ChatwootInterop.Init(Id!, Configuration, _dotNetReference!, linked);
            await ChatwootInterop.CreateObserver(Id!, linked);
        }

        _isCreated = true;
    }

    [JSInvokable]
    public Task OnReadyCallback()
    {
        return OnReady.InvokeIfHasDelegate();
    }

    [JSInvokable]
    public Task OnOpenCallback()
    {
        return OnOpen.InvokeIfHasDelegate();
    }

    [JSInvokable]
    public Task OnCloseCallback()
    {
        return OnClose.InvokeIfHasDelegate();
    }

    [JSInvokable]
    public Task OnMessageCallback(JsonElement args)
    {
        var obj = JsonUtil.Deserialize<ChatwootMessage>(args.GetRawText());

        return OnMessage.InvokeIfHasDelegate(obj);
    }

    [JSInvokable]
    public Task OnErrorCallback(JsonElement args)
    {
        return OnError.InvokeIfHasDelegate(args);
    }

    public async ValueTask Shutdown(CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            await ChatwootInterop.Shutdown(Id!, linked);
    }

    public async ValueTask Toggle(CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            await ChatwootInterop.Toggle(Id!, linked);
    }

    public async ValueTask SetUser(string identifier, object attributes, CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            await ChatwootInterop.SetUser(Id!, identifier, attributes, linked);
    }

    public async ValueTask SetUserAttributes(object attributes, CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            await ChatwootInterop.SetUserAttributes(Id!, attributes, linked);
    }

    public async ValueTask SetLabel(string label, CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            await ChatwootInterop.SetLabel(Id!, label, linked);
    }

    public async ValueTask CreateObserver(CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            await ChatwootInterop.CreateObserver(Id!, linked);
    }

    public async ValueTask RemoveLabel(string label, CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cTs);

        using (cTs)
            await ChatwootInterop.RemoveLabel(Id!, label, linked);
    }

    public async ValueTask SetLocale(string locale, CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cTs);

        using (cTs)
            await ChatwootInterop.SetLocale(Id!, locale, linked);
    }

    public async ValueTask DeleteCustomAttribute(string attributeKey, CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cTs);

        using (cTs)
            await ChatwootInterop.DeleteCustomAttribute(Id!, attributeKey, linked);
    }

    public async ValueTask Reset(CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cTs);

        using (cTs)
            await ChatwootInterop.Reset(Id!, linked);
    }

    public async ValueTask SetCustomAttributes(object attributes, CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cTs);

        using (cTs)
            await ChatwootInterop.SetCustomAttributes(Id!, attributes, linked);
    }

    public async ValueTask PopoutChatWindow(CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cTs);

        using (cTs)
            await ChatwootInterop.PopoutChatWindow(Id!, linked);
    }

    public override async ValueTask DisposeAsync()
    {
        await base.DisposeAsync();

        _initialized = false;
        _isCreated = false;

        _dotNetReference?.Dispose();
    }

}
