@using System.Text.Json
@using System.Threading
@using Microsoft.JSInterop
@using Soenneker.Blazor.Chatwoot.Abstract
@using Soenneker.Blazor.Chatwoot.Configuration
@using Soenneker.Blazor.Chatwoot.Dtos
@using Soenneker.Blazor.Extensions.EventCallback
@using Soenneker.Extensions.ValueTask
@using Soenneker.Extensions.String
@using Soenneker.Utils.Json
@using Soenneker.Extensions.CancellationTokens

@inject IChatwootInterop ChatwootInterop

@inherits Soenneker.Quark.Components.Cancellable.CancellableComponent
@implements IChatwoot

<div id="@_elementId" @attributes="Attributes" ></div>

@code {

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object?>? Attributes { get; set; }

    private DotNetObjectReference<Chatwoot>? _dotNetReference;

    private readonly string _elementId = $"chatwoot-{Guid.NewGuid()}";

    private bool _initialized;
    private bool _isCreated;
    private bool _shouldRender = true;

    [Parameter]
    public EventCallback OnReady { get; set; }

    [Parameter]
    public EventCallback OnOpen { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    [Parameter]
    public EventCallback<ChatwootMessage> OnMessage { get; set; }

    [Parameter]
    public EventCallback<JsonElement> OnError { get; set; }

    [Parameter]
    public ChatwootConfiguration Configuration { get; set; } = new();

    protected override bool ShouldRender() => _shouldRender;

    protected override void OnInitialized() => _dotNetReference = DotNetObjectReference.Create(this);

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_isCreated)
        {
            await Create(CancellationToken).NoSync();
        }
    }

    private async ValueTask Create(CancellationToken cancellationToken)
    {
        if (_initialized)
            return;

        if (Configuration.WebsiteToken.IsNullOrWhiteSpace())
            throw new Exception("ChatwootConfiguration WebsiteToken is required.");

        if (Configuration.BaseUrl.IsNullOrWhiteSpace())
            throw new Exception("ChatwootConfiguration BaseUrl is required.");

        _initialized = true;

        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
        {
            await ChatwootInterop.Init(_elementId, Configuration, _dotNetReference!, linked).NoSync();
            await ChatwootInterop.CreateObserver(_elementId, linked).NoSync();
        }

        _isCreated = true;
        _shouldRender = false;
    }

    [JSInvokable]
    public Task OnReadyCallback()
    {
        return OnReady.InvokeIfHasDelegate();
    }

    [JSInvokable]
    public Task OnOpenCallback()
    {
        return OnOpen.InvokeIfHasDelegate();
    }

    [JSInvokable]
    public Task OnCloseCallback()
    {
        return OnClose.InvokeIfHasDelegate();
    }

    [JSInvokable]
    public Task OnMessageCallback(JsonElement args)
    {
        var obj = JsonUtil.Deserialize<ChatwootMessage>(args.GetRawText());

        return OnMessage.InvokeIfHasDelegate(obj);
    }

    [JSInvokable]
    public Task OnErrorCallback(JsonElement args)
    {
        return OnError.InvokeIfHasDelegate(args);
    }

    public async ValueTask Shutdown(CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            await ChatwootInterop.Shutdown(_elementId, linked).NoSync();
    }

    public async ValueTask Toggle(CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            await ChatwootInterop.Toggle(_elementId, linked).NoSync();
    }

    public async ValueTask SetUser(string identifier, object attributes, CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            await ChatwootInterop.SetUser(_elementId, identifier, attributes, linked).NoSync();
    }

    public async ValueTask SetUserAttributes(object attributes, CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            await ChatwootInterop.SetUserAttributes(_elementId, attributes, linked).NoSync();
    }

    public async ValueTask SetLabel(string label, CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            await ChatwootInterop.SetLabel(_elementId, label, linked).NoSync();
    }

    public async ValueTask CreateObserver(CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cts);

        using (cts)
            await ChatwootInterop.CreateObserver(_elementId, linked).NoSync();
    }

    public async ValueTask RemoveLabel(string label, CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cTs);

        using (cTs)
            await ChatwootInterop.RemoveLabel(_elementId, label, linked).NoSync();
    }

    public async ValueTask SetLocale(string locale, CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cTs);

        using (cTs)
            await ChatwootInterop.SetLocale(_elementId, locale, linked).NoSync();
    }

    public async ValueTask DeleteCustomAttribute(string attributeKey, CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cTs);

        using (cTs)
            await ChatwootInterop.DeleteCustomAttribute(_elementId, attributeKey, linked).NoSync();
    }

    public async ValueTask Reset(CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cTs);

        using (cTs)
            await ChatwootInterop.Reset(_elementId, linked).NoSync();
    }

    public async ValueTask SetCustomAttributes(object attributes, CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cTs);

        using (cTs)
            await ChatwootInterop.SetCustomAttributes(_elementId, attributes, linked).NoSync();
    }

    public async ValueTask PopoutChatWindow(CancellationToken cancellationToken = default)
    {
        CancellationToken linked = CancellationToken.Link(cancellationToken, out CancellationTokenSource? cTs);

        using (cTs)
            await ChatwootInterop.PopoutChatWindow(_elementId, linked).NoSync();
    }

    public override async ValueTask DisposeAsync()
    {
        await base.DisposeAsync().NoSync();

        _initialized = false;
        _isCreated = false;

        _dotNetReference?.Dispose();
    }

}